{% load i18n staticfiles cms_tags zawody_extras sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/timeline.css">
{% endaddtoblock %}

    <div class="panel panel-default">
        <div class="panel-heading"><b>OSTATNIO DODANE WYNIKI</b></div>
        <div class="panel-body">
            <ul class="timeline">
                {% for meeting in last_meetings %}
                <li>
                    <div class="timeline-badge primary">{{ meeting.date_time|date:"d M" }}</div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{ meeting.name }}</h4>
                            <h5>{{ meeting.date_time|date:"d F Y"}}</h5>
                            <h5>
                                {{ meeting.place.city }}, {{ meeting.place.country }}
                            </h5>
                        </div>
                        <div class="timeline-body">
                            <p align="right">
                                 {% if meeting.results_file %}
                                     <small class="text-muted"><i class="glyphicon glyphicon-file"></i>
                                         <a href="{{ meeting.results_file.url }}">PLIK PDF</a></small>
                                 {% endif %}
                                 {% if meeting.results %}
                                     <span></span>
                                     <small class="text-muted"><i class="glyphicon glyphicon-th-list"></i>
                                         <a href="{{ meeting.results }}">WWW</a></small>
                                 {% endif %}
                             </p>
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>