{% load sekizai_tags %}

<div class="panel panel-default">
    <div class="panel-heading">
        <b>KALKULATOR WYNIKÓW</b>
    </div>
    <div class="panel-body">
        <!-- PRZEWIJACZKA -->
        <div class="center-block text-center">
       <a href="http://www.atp-web.ovh.org/pzwla/index.php?wybor=kalkulator">
           <img src="{{ STATIC_URL }}images/kalkulator.png"
                alt="Odnośnik do kalkulatora wyników" class="center-block">
       </a>
            </div>
    </div>
</div>

